<%- include ("./partials/_header.ejs") %>
<section class="page-section" id="contact">
  <div class="container">
    <div class="text-center">
      <h2 class="section-heading text-uppercase">New Project Add</h2>
      <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
    </div>
    <form id="contactForm" method="POST" action="/photos" encType="multipart/form-data">
      <div class="row align-items-center mb-5" style="flex-direction: column">
        <div class="col-md-6">
          <div class="form-group">
            <!-- title input-->
            <input class="form-control" id="name" name="title" type="text" placeholder="Project Title" data-sb-validations="required" />
            <div class="invalid-feedback" data-sb-feedback="name:required">Title</div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group form-group-textarea mb-md-0">
            <!-- Message input-->
            <textarea class="form-control" id="message" name="description" placeholder="Your Message *" data-sb-validations="required"></textarea>
            <div class="invalid-feedback" data-sb-feedback="message:required">Description</div>
          </div>
          <div class="form-group">
            <input type="file" name="image" class="form-control rounded-0" />
          </div>
        </div>
      </div>
      <!-- Submit success message-->
      <!---->
      <!-- This is what your users will see when the form-->
      <!-- has successfully submitted-->
      <div class="d-none" id="submitSuccessMessage">
        <div class="text-center text-white mb-3">
          <div class="fw-bolder">Form submission successful!</div>
          To activate this form, sign up at
          <br />
          <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
        </div>
      </div>
      <!-- Submit error message-->
      <!---->
      <!-- This is what your users will see when there is-->
      <!-- an error submitting the form-->
      <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
      <!-- Submit Button-->
      <div class="text-center"><button class="btn btn-primary btn-xl text-uppercase" id="submitButton" type="submit">Add</button></div>
    </form>
  </div>
</section>
<%- include ("./partials/_footer.ejs") %>
